/* components/Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #f8f9fa; /* Light background color */
    padding: 10px;
}

.link {
    text-decoration: none;
    color: #0070f3; /* Link color */
    font-weight: bold;
}
