@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
  }

html, body, #__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.iframe {
  flex-grow: 1;
  border: 1px solid #000;
}


.canvas_iframe {
  flex-grow: 1;
  border: 1px solid #000;
}


.nav-iframe {
  flex-grow: 1;
  border: 1px solid #000;
}

.rowpol-iframe {
  flex-grow: 1;
  border: 1px solid #000;
}

.iframe-attributes {
  flex-grow: 1;
  border: 1px solid #000;
}
